body,
html {
  height: 100%;
}

.back {
  width: 100%;
  /* Safari 6.0 - 9.0 */
  height: 100vh;
  object-fit: cover
}

.navbar {
  display: flex;
  /* justify-content: center; */
  background-color: transparent
}
.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar-expand-md {
  display: flex;
  /* background-color: transparent !important; */

  /* justify-content: center; */
}

.parallax {
  /* The image used */
  background-image: url('IMG_1047.JPG');

  /* Full height */
  height: 60%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.top {
  margin: 0 auto
}

@media only screen and (max-width: 600px) {
  .back {
    height: 75vh;
    object-fit: cover
  }
}
.highlight {
  color: rgb(0, 4, 255)
}
.top {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color: rgb(0, 4, 255) */

}


.stupidBox {
  position: relative;
  margin: 0 0;

}
.btn-primary {
  background-color: rgb(0, 4, 255);
  padding: 16px 30px;
  border-radius: 0;
  border: 1px;
  border-color: rgb(0, 4, 255);
  border-style: solid;
  transition: all 0.5s;
  font-size: 14px;
}
.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  padding: 16px 30px;
  border-radius: 0;
  border: 1px;
  border-color: #545b62;
  border-style: solid;
  transition: all 0.5s;
  font-size: 14px;
}

a {
  color: white 
}
i {
  color: #D4DCE1
}

.text-box {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  margin-right: 30%
}
.let {
  font-size: 5vh
}

@media only screen and (max-width: 768px) {
  .text-box {
    /* position: absolute; */
    top: 30%;
    left: 5%;
    color: white;
    margin-right: 20%
  }
  .let {
    font-size: 5vh
  }
  
}
@media only screen and (max-width: 600px) {
  .text-box {
    /* position: absolute; */
    top: 20%;
    left: 5%;
    color: white;
    margin-right: 5%
  }
  .let {
    font-size: 4vh
  }
  
}

.head {
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .head {
    font-size: 32px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .head {
    font-size: 48px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .head {
    font-size: 54px;
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .head {
      font-size: 64px;
    }
  }
}

.head1 {
  /* color: white; */
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .head1 {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .head1 {
    font-size: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .head1 {
    font-size: 26px;
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .head1 {
      font-size: 32px;
    }
  }
}

.cer {
  text-align: center;
  padding: 3vh;
  
}
.cerX {
  text-align: center;
  padding: 3vh;
  background-color: #E9F1F7
  
}

.cer1 {
  text-align: center;
  padding: 3vh;
  padding-top: 0;
  padding-bottom: 6vh;
  background-color: #182c72a1
}
.cerZ {
  text-align: center;
  padding: 3vh;
  background-color: #182c72a1
}

.cerA {
  text-align: center;
  padding: 3vh;
  background-color: #E9F1F7
}

.cerB {
  background-color: black
}
.room {
  padding: 8px
}
.cer2 {
  text-align: center;
  background-color: lightgray;
}

.txt {
  text-align: center
}

.pos {
  padding: 2vw 2vh;
}

@media (min-width: 768px) {
  .par {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.cntr {
  padding: 8vw 8vh;
  padding-right: 4vh;
  margin: 0;
}

.tier {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5vw
}

@media (max-width: 768px) {
  .tier {
    width: 100%;
    padding-top: 0vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh
  }
}

.col-md-7 {
  padding: 0 !important;
  margin: 0 !important;
}

.display-4 {
  font-size: 1.75rem;
  font-weight: 400
}

@media (min-width: 576px) {
  .display-4 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .display-4 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 2rem;
  }
}

.lead {
  font-size: 1.2rem;


}

@media (min-width: 576px) {
  .lead {
    font-size: 1.15rem;
  }
}

@media (min-width: 768px) {
  .lead {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .lead {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .lead {
    font-size: 1.25rem;
  }
}

.pic {
  width: 25vw;
  height: 25vh;
   width: 100%;
  object-fit: cover;
  object-position: 50% 23%
}

@media (max-width: 768px) {
  .pic {
    width: 100%;
    height: 30vh;
  }
}

.imgr {
  width: 80vw;
  height: 70vh
}

.font {
  margin-left: 4vw;
  margin-right: 4vw;
}

.font1 {
  padding-left: 10vw;
}

@media (max-width: 576px) {
  .font1 {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

}

.font2 {
  padding-right: 10vw;
}

@media (max-width: 576px) {
  .font2 {
    padding-left: 2.5vw;
    padding-right: 2.5vw;

  }
}

.font3 {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (max-width: 576px) {
  .font3 {
    padding-left: 2.5vw;
    padding-right: 2.5vw;

  }
}

.pad {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.padded {
  padding-bottom: 1.5vh;
}

.padded1 {
  padding-top: 1.5vh;
}

@media (max-width: 576px) {
  .font {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}

.navbar-inner {
  background: transparent;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
/* #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
     */
/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}